DB_FILE_DIR=../database
DB_FILE_NAME=database.db

NEXTAUTH_SECRET="abced1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
NEXTAUTH_URL="http://localhost:3000"

# バックエンドAPI接続設定
BACKEND_URL="http://localhost:3001"
BACKEND_WS_URL="ws://localhost:3001"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""